.cadres-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
}

.cadre {
    display: flex;
    width: 250px;
    height: 110px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.iconcalories-block {
    margin: 20px;
    height: 70px;
    width: 70px;
    background: #ff00001e;
    mix-blend-mode: normal;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-calories {
    color: #FF0000;
}

.iconproteines-block {
    margin: 20px;
    height: 70px;
    width: 70px;
    background: #4ab7ff1e;
    mix-blend-mode: normal;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-proteines {
    color: #4AB8FF;
}

.iconglucides-block {
    margin: 20px;
    height: 70px;
    width: 70px;
    background: #fdcd0c1e;
    mix-blend-mode: normal;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-glucides {
    color: #FDCC0C;
}

.iconglipides-block {
    margin: 20px;
    height: 70px;
    width: 70px;
    background: #fd51821e;
    mix-blend-mode: normal;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-lipides {
    color: #FD5181;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quantity {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;   
    font-size: 20px;
    line-height: 24px;
    color: #282D30;
    margin-bottom: 2px;
}

.label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798C;
    margin-top: 2px;
}